<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test FE</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
        integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="wrapper">
        <div class="container inner_wrapper">
            <div id="overlay">

            </div>
            <!-- menu-responsve -->
            <div class="menu_toggle">
                <header style="display: flex;justify-content: end;padding:30px;padding-right:10px">
                    <button class="close_menu_button">
                        <i class="fa-solid fa-times"></i>
                    </button>
                </header>
                <div class="body">

                    <div class="aside_content">
                        <ul>
                            <li class="nav-item">
                                <a href="#">検査結果画面の解説<i class="fa-solid fa-chevron-down"></i></a>
                            </li>
                            <li class="nav-item"><a href="#">主な機能<i class="fa-solid fa-chevron-down"></i></a></li>
                            <li class="nav-item"><a href="#">利用シーン別ガイド<i class="fa-solid fa-chevron-down"></i></a>
                            </li>
                            <li class="nav-item"><a href="#">初めてご利用の方へ<i class="fa-solid fa-chevron-down"></i></a>
                            </li>
                            <li class="nav-item"><a href="#">FAQ <i class="fa-solid fa-chevron-down"></i></a></li>

                        </ul>
                    </div>
                </div>
            </div>
            <aside class="hide-on-mobile-tablet">
                <div class="aside_wrapper">
                    <div class="aside_inner_wrapper">
                        <div class="aside_header">
                            <img src="/assets/images/logo.png" alt="">
                            <button class="aside_button">
                                サポートサイト
                            </button>
                        </div>
                        <div class="aside_content">
                            <ul>
                                <li class="nav-item"><a href="#">検査結果画面の解説<i class="fa-solid fa-chevron-right"></i></a>
                                </li>
                                <li class="nav-item"><a href="#">主な機能<i class="fa-solid fa-chevron-right"></i></a></li>
                                <li class="nav-item"><a href="#">利用シーン別ガイド<i class="fa-solid fa-chevron-right"></i></a>
                                </li>
                                <li class="nav-item"><a href="#">初めてご利用の方へ<i class="fa-solid fa-chevron-right"></i></a>
                                </li>
                                <li class="nav-item"><a href="#">FAQ <i class="fa-solid fa-chevron-right"></i></a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </aside>
            <main>

                <div class="breadcurmb flex">
                    <div class="label">
                        <button class="bar_menu_button show-on-mobile-tablet">
                            <i class="fa-solid fa-bars"></i>
                        </button>
                        <div class="hide-on-mobile">
                            <i class="fa-solid fa-house"></i>
                            <span>トップ</span>
                        </div>
                    </div>
                    <div class="contact flex">
                        <div class="item">
                            <a href="#">
                                <span>ログイン</span>
                                <i class="fa-solid fa-up-right-from-square"></i>

                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <span>お問い合わせ</span>
                                <i class="fa-regular fa-envelope"></i>

                            </a>

                        </div>
                    </div>
                </div>
                <div style="height:70px;display: none;" class="show-on-mobile-tablet">

                </div>
                <div class="search-section">
                    <div class="wrapper-search">
                        <span class="hide-on-mobile-tablet">
                            どんな事でお困りですか？
                        </span>
                        <div class="search_box">
                            <div class="search_box_input">
                                <i class="fa-solid fa-magnifying-glass"></i>
                                <input placeholder="キーワードを入力" type="text">
                            </div>
                            <button class="search_box_button">

                                検索

                            </button>
                        </div>
                    </div>
                </div>

                <section class="main_cate">
                    <div class="box">
                        <div class="box-head">
                            <div class="thumb">
                                <img src="<%= data[0].headerSections.thumb %>" alt="">
                            </div>
                            <div class="infor">
                                <p class="title">
                                    <%= data[0].headerSections.title %>
                                </p>
                                <p class="desc">
                                    <%= data[0].headerSections.desc %>
                                </p>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <% data[0]?.content.forEach(function(item){ %>
                                    <div class="item pc-3 mobile-2 tablet-2">
                                        <div class="inner-item">
                                            <img src="<%=item.thumb%>" alt=""
                                                class="<%= item?.text.length === 1 ? 'single-text-class' : '' %>">
                                            <div>
                                                <% item.text.forEach(function(text){ %>
                                                    <p>
                                                        <%=text ?? "" %>
                                                    </p>
                                                    <% }); %>
                                            </div>
                                        </div>
                                    </div>
                                    <% }); %>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="second_cate">
                    <div class="box">
                        <div class="box-head">
                            <div class="thumb">
                                <img src="<%= data[1].headerSections.thumb %>" alt="">
                            </div>
                            <div class="infor">
                                <p class="title">
                                    <%= data[1].headerSections.title %>
                                </p>
                                <p class="desc">
                                    <%= data[1].headerSections.desc %>
                                </p>
                            </div>
                        </div>
                        <% data[1]?.content.forEach(function(item){ %>
                            <div class="box-body">
                                <div class="header">
                                    <p>
                                        <%=item.heading %>
                                    </p>
                                </div>
                                <div class="content">
                                    <div class="row">
                                        <% item.body.forEach(function(item){ %>
                                            <div class="item pc-4 tablet-3 mobile-2">
                                                <div class="inner-item">
                                                    <div class="thumb">
                                                        <img src="<%=item.thumb%>" alt="">
                                                    </div>
                                                    <p>
                                                        <%=item.text[0]%>
                                                    </p>
                                                </div>
                                            </div>
                                            <% }); %>
                                    </div>
                                </div>
                            </div>
                            <% }); %>


                    </div>

                </section>

                <section class="second_cate third_cate">
                    <div class="box">
                        <div class="box-head">
                            <div class="thumb">
                                <img src="<%= data[2].headerSections.thumb %>" alt="">
                            </div>
                            <div class="infor">
                                <p class="title">
                                    <%= data[2].headerSections.title %>
                                </p>
                                <p class="desc">
                                    <%= data[2].headerSections.desc %>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <% data[2]?.content.forEach(function(item){ %>
                                <div class="item pc-2 tablet-2 mobile-2">
                                    <div class="box-body">
                                        <div class="header">
                                            <p>
                                                <%=item.heading %>
                                            </p>
                                        </div>
                                        <div class="content">

                                            <ul class="item ">
                                                <% item.text.forEach(function(item){ %>
                                                    <li>
                                                        <%=item %>
                                                    </li>
                                                    <% }); %>
                                            </ul>
                                        </div>
                                    </div>

                                </div>



                                <% }); %>
                        </div>


                    </div>

                </section>
            </main>

        </div>
        <footer>
            <div class="container copy-right">
                <div class="row" style="height: 100%;">
                    <div class="pc-2 tablet-1 mobile-1 hide-on-mobile-tablet"></div>
                    <div class="pc-2 tablet-1 mobile-1">
                        <p>Copyright © 2022 SALES SCORE All Right Reserved.</p>
                    </div>
                </div>



            </div>
        </footer>
    </div>
    <script src="/js/home.js"></script>
</body>

</html>